<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <system.diagnostics>
    <sharedListeners>
      <add name="All" type="CarbonCore.Utils.Compat.Diagnostics.TraceListeners.FileTraceListener, CarbonCore.Utils.Compat" initializeData="Logs\CrystalBuild.All.log" rotateFiles="true" maxRotation="5" template="{CoreTime}\t{Source}({ThreadId})\t{EventType}\t{Id}\t{Message}"/>

      <add name="Console" type="CarbonCore.Utils.Compat.Diagnostics.TraceListeners.ConsoleTraceListener, CarbonCore.Utils.Compat" template="{CoreTime}\t({ThreadId})\t{Message}"/>
    </sharedListeners>

    <trace autoflush="true">
      <listeners>
        <clear/>
        <add name="All"/>
        <add name="Console"/>
      </listeners>
    </trace>

    <sources>

      <source name="CrystalBuild" switchValue="All">
        <listeners>
          <clear/>
          <add name="All"/>
          <add name="Console"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>